{% extends "account/base_manage_password.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block inner_content %}
    {% element hr %}{% endelement %}
    {% element h2 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% element hr %}{% endelement %}
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" name="action" %}
                {% trans 'Set Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock inner_content %}
