<div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black ms-2 me-5" href="{% url "home" %}">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black ms-2 me-5" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url "products" %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url "products" %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url "products" %}?sort=subcategory&direction=asc" class="dropdown-item ">By Subcategory</a>
                <a href="{% url "products" %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black ms-2 me-5" href="#" id="materials-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Materials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="materials-link">
                <a href="{% url "products" %}?subcategory=card" class="dropdown-item">Card</a>
                <a href="{% url "products" %}?subcategory=paper" class="dropdown-item">Paper</a>
                <a href="{% url "products" %}?subcategory=foam" class="dropdown-item">Foam</a>
                <a href="{% url "products" %}?category=materials" class="dropdown-item">All Materials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black ms-2 me-5" href="#" id="tools-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tools-link">
                <a href="{% url "products" %}?subcategory=cutting_mats" class="dropdown-item">Cutting Mats</a>
                <a href="{% url "products" %}?subcategory=scissors_cutting_tools" class="dropdown-item">Scissors &amp Cutting Tools</a>
                <a href="{% url "products" %}?subcategory=stencils" class="dropdown-item">Stencils</a>
                <a href="{% url "products" %}?category=tools" class="dropdown-item">All Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black ms-2 me-5" href="#" id="stationery-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stationery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stationery-link">
                <a href="{% url "products" %}?subcategory=pens_pencils" class="dropdown-item">Pens &amp Pencils</a>
                <a href="{% url "products" %}?subcategory=stationery_sets" class="dropdown-item">Stationery Sets</a>
                <a href="{% url "products" %}?subcategory=acetate_sheets" class="dropdown-item">Acetate Sheets</a>
                <a href="{% url "products" %}?category=stationery" class="dropdown-item">All Stationery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black ms-2" href="#" id="specials-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url "products" %}?subcategory=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url "products" %}?subcategory=deals" class="dropdown-item">Deals</a>
                <a href="{% url "products" %}?subcategory=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url "products" %}?category=specials" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>