<div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="materials-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Materials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="materials-link">
                <a href="" class="dropdown-item">Card</a>
                <a href="" class="dropdown-item">Paper</a>
                <a href="" class="dropdown-item">Foam</a>
                <a href="" class="dropdown-item">All Materials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tools-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tools-link">
                <a href="" class="dropdown-item">Cutting Mats</a>
                <a href="" class="dropdown-item">Scissors &amp Cutting Tools</a>
                <a href="" class="dropdown-item">Stencils</a>
                <a href="" class="dropdown-item">All Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="stationery-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stationery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stationery-link">
                <a href="" class="dropdown-item">Pens &amp Pencils</a>
                <a href="" class="dropdown-item">Stationery Sets</a>
                <a href="" class="dropdown-item">Acetate Sheets</a>
                <a href="" class="dropdown-item">All Stationery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>